<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Relatives of {{patientID}} </h1>
        <a href="/">Home</a>
    <hr>
    <table class="table table-hover table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Relative ID</th>
            <th>Date of Birth</th>
        </tr>
        </thead>
        {% for result in results %}
        <tr>
            {% set PatientURI = result["Relative"]["value"] %}
            {% set Psplit = PatientURI.split('#') %}
            <td>{{Psplit[1]}}</td>

            {% set sexURI = result["Sex"]["value"] %}
            {% set sexSplit = sexURI.split('#') %}
            <td>{{sexSplit[1]}}</td>

            {% set FamilyURI = result["FamilyID1"]["value"] %}
            {% set Famsplit = FamilyURI.split('#') %}
            <td>{{Famsplit[1]}}</td>

            {% set FatherURI = result["Father"]["value"] %}
            {% set Fsplit = FatherURI.split('#') %}
            <td>{{Fsplit[1]}}</td>

            {% set MotherURI = result["Mother"]["value"]%}
            {% set Msplit = MotherURI.split('#') %}
            <td>{{Msplit[1]}}</td>

            <td>{{result["AgeAtDeath"]["value"]}}</td>
            <td>{{result["RelativeBreastCancer"]["value"]}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
</body>
</html>