{% extends "index.html" %}

{% block body%}

<body>
<h2>Patient History</h2>
<hr>

<table class="table table-hover table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th>Patient</th>
        <th>Family history of cancer</th>
        <th>Personal history of breast cancer</th>
        <th>Personal history of melanoma</th>
    </tr>
    </thead>
    {% for result in results %}
    <tr>
        {% set PatientURI = result["Patient"]["value"] %}
        {% set Psplit = PatientURI.split('#') %}
        <td>{{Psplit[1]}}</td>
        <td>{{result["FamilyHistoryOfCancer"]["value"]}}</td>
        <td>{{result["Personal_history_of_breast_cancer"]["value"]}}</td>
        <td>No</td>
    </tr>
    {%endfor%}
</table>

</body>


{% endblock%}