<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patient ID</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>

<div class="container">
    <h1 class="form-signin-heading">Enter Patient ID </h1>
    <hr>
    <form class="form-signin" method="post" action="/login">
        <div class="form-group">
            <label for="inputName" class="sr-only">Patient ID</label>
            <input type="text" id="inputName" name="patientID" class="form-control" placeholder="Patient ID" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Get patient data</button>
    </form>

</div> <!-- /container -->

</body>
</html>